asgiref==3.4.1
astroid==2.6.2
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
dataclasses==0.8
Django==3.2.5
django-scheduler==0.9.5
Flask==2.0.1
future==0.18.2
gkeepapi==0.13.4
gpsoauth==0.4.3
html-dsl==0.3.1
icalendar==4.0.7
idna==2.10
importlib-metadata==4.6.0
isort==5.9.1
itsdangerous==2.0.1
Jinja2==3.0.1
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
mccabe==0.6.1
Pillow==8.3.0
pycryptodomex==3.10.1
pyimgur==0.6.0
pylint==2.9.3
pymongo==3.11.4
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
six==1.16.0
sqlparse==0.4.1
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.10.0.0
urllib3==1.26.6
Werkzeug==2.0.1
wrapt==1.12.1
zipp==3.5.0
