certifi==2021.5.30
chardet==4.0.0
click==8.0.1
dataclasses==0.8
Flask==2.0.1
future==0.18.2
gkeepapi==0.13.4
gpsoauth==0.4.3
html-dsl==0.3.1
idna==2.10
importlib-metadata==4.6.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
pycryptodomex==3.10.1
pymongo==3.11.4
requests==2.25.1
six==1.16.0
typing-extensions==3.10.0.0
urllib3==1.26.6
Werkzeug==2.0.1
zipp==3.5.0
